.catImg1 {
    background-image: url('../assets/catalogues/cat1.png');
    width: 293px;
    height: 223px;
    background-size: cover;
    background-position: center center;
}

.catImg2 {
    background-image: url('../assets/catalogues/cat2.png');
    width: 293px;
    height: 223px;
    background-size: cover;
    background-position: center center;
}

.catImg3 {
    background-image: url('../assets/catalogues/cat3.png');
    width: 293px;
    height: 475px;
    background-size: cover;
    background-position: center center;
}

.catImg4 {
    background-image: url('../assets/catalogues/cat4.png');
    width: 293px;
    height: 475px;
    background-size: cover;
    background-position: center center;
}

.catImg5 {
    background-image: url('../assets/catalogues/cat5.png');
    width: 293px;
    height: 223px;
    background-size: cover;
    background-position: center center;
}

.catImg6 {
    background-image: url('../assets/catalogues/cat6.png');
    width: 293px;
    height: 223px;
    background-size: cover;
    background-position: center center;
}

.catImg7 {
    background-image: url('../assets/catalogues/cat7.png');
    width: 293px;
    height: 475px;
    background-size: cover;
    background-position: center center;
}

.catImg8 {
    background-image: url('../assets/catalogues/cat8.png');
    width: 293px;
    height: 475px;
    background-size: cover;
    background-position: center center;
}

.grid-2 {
    display: none;
}

@media screen and (max-width: 1025px) {
    .grid-3 {
        display: none;
    }

    .grid-2 {
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    .catx {
        margin: auto;
        padding-top: 5%;
    }

    .catImg2, .catImg6 {
        margin-top: 10%;
    }

    .grid-2 {
        flex-direction: column;
    }
}