.catImg1 {
    background-image: url('../assets/catalogues/cat1.png');
    width: 310px;
    height: 223px;
    background-size: cover;
    background-position: center center;
}

.catImg2 {
    background-image: url('../assets/catalogues/cat2.png');
    width: 310px;
    height: 223px;
    background-size: cover;
    background-position: center center;
}

.catImg3 {
    background-image: url('../assets/catalogues/cat3.png');
    width: 310px;
    height: 485px;
    background-size: cover;
    background-position: center center;
}

.catImg4 {
    background-image: url('../assets/catalogues/cat4.png');
    width: 310px;
    height: 485px;
    background-size: cover;
    background-position: center center;
}

.catImg5 {
    background-image: url('../assets/catalogues/cat5.png');
    width: 310px;
    height: 223px;
    background-size: cover;
    background-position: center center;
}

.catImg6 {
    background-image: url('../assets/catalogues/cat6.png');
    width: 310px;
    height: 223px;
    background-size: cover;
    background-position: center center;
}

.catImg7 {
    background-image: url('../assets/catalogues/cat7.png');
    width: 310px;
    height: 485px;
    background-size: cover;
    background-position: center center;
}

.catImg8 {
    background-image: url('../assets/catalogues/cat8.png');
    width: 310px;
    height: 485px;
    background-size: cover;
    background-position: center center;
}

.grid-2 {
    display: none;
}

.cat-1, .cat-2, .cat-3 {
    cursor: pointer;
}

@media screen and (max-width: 1025px) {
    .grid-3 {
        display: none;
    }

    .grid-2 {
        display: flex;
    }

    .catx {
        width: 100%;
        margin: 10px;
    }

    /* .catx:hover {
        transform: scale(0.8);
    } */

    .catImg1, .catImg2, .catImg5, .catImg6 {
        width: 100%;
        height: 230px;
    }

    .catImg3, .catImg4, .catImg7, .catImg8 {
        width: 100%;
        height: 520px;
    }

}

@media screen and (max-width: 600px) {
    .catx {
        margin: auto;
        padding-top: 5%;
        width: 100%;
    }

    /* .catx:hover {
        transform: scale(0.8);
    } */

    /* .catImg2, .catImg6 {
        margin-top: 10%;
    } */

    .grid-2 {
        flex-direction: column;
    }

    .catImg1, .catImg2, .catImg5, .catImg6 {
        width: 100%;
        height: 230px;
    }

    .catImg3, .catImg4, .catImg7, .catImg8 {
        width: 100%;
        height: 520px;
    }
}