.slide1 {
    background-image: url(../assets/1.png);
    width: 434px;
    height: 289px;
    background-size: cover;
    background-position: right bottom, left top;
}

.slide2 {
    background-image: url(../assets/2.png);
    width: 434px;
    height: 289px;
    background-size: cover;
    background-position: right bottom, left top;
}

.slide3 {
    background-image: url(../assets/3.png);
    width: 434px;
    height: 289px;
    background-size: cover;
    background-position: right bottom, left top;
}

.slide4 {
    background-image: url(../assets/4.png);
    width: 434px;
    height: 289px;
    background-size: cover;
    background-position: right bottom, left top;
}

.slide5 {
    background-image: url(../assets/5.png);
    width: 434px;
    height: 289px;
    background-size: cover;
    background-position: right bottom, left top;
}

.feature-prod-img {
    background-image: url('../assets/products/1/1.png');
    width: 462px;
    height: 333.3px;
    background-size: cover;
    background-position: right bottom, left top;
}

@media screen and (max-width: 1025px) {
    .swiper-slide {
        flex-direction: column-reverse;
    }

    .slide-img {
        height: 300px;
    }

    .slide1, .slide2, .slide3, .slide4, .slide5 {
        width: 100%;
        max-width: 768px;
        max-height: 480px;
    }

    .slide-text {
        width: 100%;
    }

    .slide-img {
        width: 100%;
        height: 100%;
    }

    .feature-prod {
        flex-direction: column;
    }

    .feature-prod-img {
        width: 100%;
    }

    .feature-prod-text {
        margin-top: 5%;
        width: 100%;
        text-align: left;
        align-items: flex-start;
    }

    .short-text-div {
        flex-direction: column;
    }

    .table-content {
        width: 100%;
    }
}