@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

* {
    font-size: 1.05rem;
    font-family: 'Raleway', sans-serif;
}

.heading {
    font-family: 'Playfair Display', serif;
}

.body {
    margin: auto;
}

.container {
    margin: auto;
    max-width: 1000px;
}

.menu-icon, .close-icon {
    display: none;
}

.home-header-bg {
    background-color: #F9F9F9;
}

.footer {
    background-color: #f9f9f9;
}