@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

.slide-container {
  width: 100%;
  animation: slider 18s ease-out infinite;
  background-image: url("./images/room1.png");
  background-position: center;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  transition: all 0.5s ease-out;
}

.slide-container:after{
  content: '';
  position: absolute;
  inset: 0;
  box-shadow: inset 0px 0px 250px black;
}

.title:before {
  content: "We are trend setters - ";
  animation: slider1 18s ease-out infinite;
  transition: all 0.5s ease-out;
  opacity: 0;
}

.subtitle:before {
  content: "Stunning designs that will give you a taste of the future.";
  animation: slider2 18s ease-out infinite;
  transition: all 0.5s ease-out;
  opacity: 0;
}

.rec.rec-arrow {
  display: none;
}

.rec.rec-dot_active {
  box-shadow: none;
  background: #4678ee;
}

@media and (min-width: 769px) {
  .rec.rec-pagination {
    position: absolute;
    bottom: 25%;
    left: 40%;
  }
}

.rec.rec-dot:active {
  box-shadow: none;
  border: 2px solid #4678ee;
  background: #4678ee;
}

@keyframes slider {
  0% {
    background-image: url("./images/room1.png");
  }
  25% {
    background-image: url("./images/room2.png");
  }
  50% {
    background-image: url("./images/room3.png");
  }
  75%{
    background-image: url("./images/room4.png")
  }
  100% {
    background-image: url("./images/room1.png");
  }
}

@keyframes slider1 {
  0% {
    opacity: 0;
  }
  5% {
    content: "We are trend setters - ";
    opacity: 1;
  }
  23%{
    content: "We are trend setters - ";
    opacity: 0;
  }
  24%{
    opacity:0;
    content: "Premium Quality - ";
  }
  30%{
    content: "Premium Quality - ";
    opacity: 1;
  }
  48% {
    opacity: 0;
    content: "Premium Quality - ";
  }
  49% {
    opacity: 0;
    content: "Customer Satisfaction - ";
  }
  55% {
    content: "Customer Satisfaction - ";
    opacity: 1;
  }
  73% {
    opacity: 0;
    content: "Customer Satisfaction - ";
  }
  74% {
    opacity: 0;
    content: "Panoramic Catalogue - ";
  }
  80% {
    content: "Panoramic Catalogue - ";
    opacity: 1;
  }
  100% {
    opacity: 0;
    content: "Panoramic Catalogue - ";
  }
}

@keyframes slider2 {
  0% {
    opacity: 0;
  }
  5% {
    content: "Stunning designs that will give you a taste of the future.";
    opacity: 1;
  }
  23%{
    content: "Stunning designs that will give you a taste of the future.";
    opacity: 0;
  }
  24%{
    opacity: 0;
    content: "Unparalleled product quality made with the finest raw material available in the market.";
  }
  31%{
    content: "Unparalleled product quality made with the finest raw material available in the market.";
    opacity: 1;
  }
  48% {
    opacity: 0;
    content: "Unparalleled product quality made with the finest raw material available in the market.";
  }
  49% {
    opacity: 0;
    content: "Building trust and understanding with our clients, with our premier customer service.";
  }
  56% {
    content: "Building trust and understanding with our clients, with our premier customer service.";
    opacity: 1;
  }
  73% {
    opacity: 0;
    content: "Building trust and understanding with our clients, with our premier customer service.";
  }
  74% {
    opacity: 0;
    content: "An extensive gamut of designs and textures to choose from.";
  }
  81% {
    content: "An extensive gamut of designs and textures to choose from.";
    opacity: 1;
  }
  100% {
    opacity: 0;
    content: "An extensive gamut of designs and textures to choose from.";
  }
}