@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  cursor: none;
  scroll-behavior: smooth;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("./images/room1.webp") url("./images/room2.webp")
    url("./images/room3.webp") url("./images/room4.webp");
}

.mainCursor {
  z-index: 999;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #555;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
  mix-blend-mode: difference;
}

.secondaryCursor {
  z-index: 999;
  width: 10px;
  height: 10px;
  pointer-events: none;
  background: #000;
  transform: translate3d(0, 0, 0);
  border-radius: 50%;
  position: fixed;
}

.slide-container {
  width: 100%;
  animation: slider 18s ease-out infinite;
  background-image: url("./images/room1.webp");
  background-position: center;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  transition: all 0.5s ease-out;
}

.slide-container:after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0px 0px 250px black;
}

.title:before {
  content: "We are trend setters - ";
  animation: slider1 18s ease-out infinite;
  transition: all 0.5s ease-out;
  opacity: 0;
}

.subtitle:before {
  content: "Stunning designs that will give you a taste of the future.";
  animation: slider2 18s ease-out infinite;
  transition: all 0.5s ease-out;
  opacity: 0;
}

.button-slide::before {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #000;
  transform: scaleX(0);
  content: "";
  width: 100%;
  border-radius: 100px;
  transform-origin: left;
  transition: transform 500ms ease-in-out;
}

.button-slide:hover::before,
.button-slide:focus::before {
  transform: scaleX(1);
}

.button-slide {
  z-index: 1;
}

.slick-arrow {
  display: none !important;
}

.tab-content{
  animation: fade 700ms ease-in-out;
  transform-origin: bottom;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.thumbs-wrapper{
  position: absolute;
  right: 24%;
  z-index: 10;
}

.carousel{
  position: absolute;
  bottom: 50%;
}

.thumbs-wrapper img{
  object-fit: cover;
  height: 120px;
  border-radius: 6px;
}

.thumbs .selected img{
  opacity: 0.5;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 3px solid #fff;
}

.lam-image1,.lam-image2,.lam-image3,.lam-image4{
  transition: transform 500ms ease-in;
}

.laminates1:hover~.lam-image1{
  transform: translateY(-96px);
}

.laminates2:hover~.lam-image2{
  transform: translateY(-96px);
}

.laminates3:hover~.lam-image3{
  transform: translateY(-96px);
}

.laminates4:hover~.lam-image4{
  transform: translateY(-96px);
}

.contact{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/left_compare.webp') center center;
  height: 40vh;
  background-size: cover;
}

@keyframes slider {
  0% {
    background-image: url("./images/room1.webp");
  }
  10% {
    background-image: url("./images/room1.webp");
  }
  25% {
    background-image: url("./images/room2.webp");
  }
  35% {
    background-image: url("./images/room2.webp");
  }
  50% {
    background-image: url("./images/room3.webp");
  }
  60% {
    background-image: url("./images/room3.webp");
  }
  75% {
    background-image: url("./images/room4.webp");
  }
  90% {
    background-image: url("./images/room4.webp");
  }
  100% {
    background-image: url("./images/room1.webp");
  }
}

@keyframes slider1 {
  0% {
    opacity: 0;
    content: "We are trend setters";
  }
  1% {
    content: "We are trend setters";
    opacity: 1;
  }
  11% {
    opacity: 1;
  }
  18% {
    content: "We are trend setters";
    opacity: 0;
  }
  19% {
    opacity: 0;
    content: "Premium Quality";
  }
  25% {
    opacity: 1;
    content: "Premium Quality";
  }
  36% {
    opacity: 1;
  }
  43% {
    opacity: 0;
    content: "Premium Quality";
  }
  44% {
    opacity: 0;
    content: "Customer Satisfaction";
  }
  50% {
    content: "Customer Satisfaction";
    opacity: 1;
  }
  61% {
    opacity: 1;
  }
  68% {
    opacity: 0;
    content: "Customer Satisfaction";
  }
  69% {
    opacity: 0;
    content: "Panoramic Catalogue";
  }
  75% {
    content: "Panoramic Catalogue";
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    content: "Panoramic Catalogue";
  }
  100% {
    opacity: 0;
    content: "We are trend setters";
  }
}

@keyframes slider2 {
  0% {
    opacity: 0;
    content: "Stunning designs that will give you a taste of the future.";
  }
  1% {
    content: "Stunning designs that will give you a taste of the future.";
    opacity: 1;
  }
  11% {
    opacity: 1;
  }
  18% {
    content: "Stunning designs that will give you a taste of the future.";
    opacity: 0;
  }
  19% {
    opacity: 0;
    content: "Unparalleled product quality made with the finest raw material available in the market.";
  }
  25% {
    content: "Unparalleled product quality made with the finest raw material available in the market.";
    opacity: 1;
  }
  36% {
    opacity: 1;
  }
  43% {
    opacity: 0;
    content: "Unparalleled product quality made with the finest raw material available in the market.";
  }
  44% {
    opacity: 0;
    content: "Building trust and understanding with our clients, with our premier customer service.";
  }
  50% {
    content: "Building trust and understanding with our clients, with our premier customer service.";
    opacity: 1;
  }
  61% {
    opacity: 1;
  }
  68% {
    opacity: 0;
    content: "Building trust and understanding with our clients, with our premier customer service.";
  }
  69% {
    opacity: 0;
    content: "An extensive gamut of designs and textures to choose from.";
  }
  75% {
    content: "An extensive gamut of designs and textures to choose from.";
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    content: "An extensive gamut of designs and textures to choose from.";
  }
  100% {
    opacity: 0;
    content: "Stunning designs that will give you a taste of the future.";
  }
}

@media screen and (max-width: 769px) {
  .carousel{
    position: relative !important;
  }
  .thumbs-wrapper{
    position: relative !important;
    left: 5%;
  }
  .mainCursor,.secondaryCursor{
    display: none;
  }
}