@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  /* cursor: none; */
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("./images/room1.png") url("./images/room2.png")
    url("./images/room3.png") url("./images/room4.png");
}

.mainCursor {
  z-index: 999;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #555;
  pointer-events: none;
  overflow: hidden;
  tranform: translate3d(0, 0, 0);
  position: fixed;
  mix-blend-mode: difference; /*difference screen exclusion */
}

.secondaryCursor {
  z-index: 999;
  width: 10px;
  height: 10px;
  pointer-events: none;
  background: #000;
  tranform: translate3d(0, 0, 0);
  border-radius: 50%;
  position: fixed;
}

.slide-container {
  width: 100%;
  animation: slider 18s ease-out infinite;
  background-image: url("./images/room1.png");
  background-position: center;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  transition: all 0.5s ease-out;
}

.slide-container:after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0px 0px 250px black;
}

.title:before {
  content: "We are trend setters - ";
  animation: slider1 18s ease-out infinite;
  transition: all 0.5s ease-out;
  opacity: 0;
}

.subtitle:before {
  content: "Stunning designs that will give you a taste of the future.";
  animation: slider2 18s ease-out infinite;
  transition: all 0.5s ease-out;
  opacity: 0;
}

.button-slide::before {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #000;
  transform: scaleX(0);
  content: "";
  width: 100%;
  border-radius: 100px;
  transform-origin: left;
  transition: transform 500ms ease-in-out;
}

.button-slide:hover::before,
.button-slide:focus::before {
  transform: scaleX(1);
}

.button-slide {
  z-index: 1;
}

.slick-arrow {
  display: none !important;
}

.rooms{
  width: 470px;
  height: 516px;
  display: block;
  margin: auto;
  overflow:hidden;
}

.custom-image-container{
  width: 366px;
  height: 448px;
  display: block;
  margin: auto;
  overflow: hidden;
}

.custom-image-container:hover .custom-image,.rooms:hover .room-design,.products:hover .product-list{
  transform: scale(1.25);
}

.custom-image{
  background: url('./images/customdec.png');
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transition: all 400ms ease-out;
}

.room-design,.product-list{
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
}

.stunning-design{
  background: url('./images/room5.png');
  background-size: cover;
  background-position: center;
}

.finest-texture{
  background: url('./images/room6.png');
  background-size: cover;
  background-position: center;
}

.laser-precision{
  background: url('./images/room7.png');
  background-size: cover;
  background-position: center;
}

.products{
  width: 290px;
  height: 366px;
  display: block;
  margin: auto;
  overflow: hidden;
}

.decorative{
  background: url('./images/decorative.png');
  background-size: cover;
  background-position: center;
}

.mdf_board{
  background: url('./images/mdf_board.png');
  background-size: cover;
  background-position: center;
}

.pvc_laminates{
  background: url('./images/pvc_laminates.png');
  background-size: cover;
  background-position: center;
}

.korean{
  background: url('./images/korean.png');
  background-size: cover;
  background-position: center;
}

.pvc_panel{
  background: url('./images/pvc_panel.png');
  background-size: cover;
  background-position: center;
}

.pvc_tape{
  background: url('./images/pvc_tape.png');
  background-size: cover;
  background-position: center;
}

.acrylic{
  background: url('./images/acrylic.png');
  background-size: cover;
  background-position: center;
}

.wpc_board{
  background: url('./images/wpc_board.png');
  background-size: cover;
  background-position: center;
}

.carousel .control-dots{
  right: -45%;
  transform: rotate(90deg);
  bottom: 60% !important;
}

.product1{
  background : url('./images/decorative.png');
  background-repeat : no-repeat;
  background-size : cover;
  background-position : center;
}

.product2{
  background : url('./images/korean.png');
  background-repeat : no-repeat;
  background-size : cover;
  background-position : center;
}

.product3{
  background : url('./images/bedroom.jpg');
  background-repeat : no-repeat;
  background-size : cover;
  background-position : center;
}

.carousel .control-dots .dot{
  background: #000 !important;
}

.lam-image1,.lam-image2,.lam-image3,.lam-image4{
  transition: transform 500ms ease-in;
}

.laminates1:hover~.lam-image1{
  transform: translateY(-96px);
}

.laminates2:hover~.lam-image2{
  transform: translateY(-96px);
}

.laminates3:hover~.lam-image3{
  transform: translateY(-96px);
}

.laminates4:hover~.lam-image4{
  transform: translateY(-96px);
}

@keyframes slider {
  0% {
    background-image: url("./images/room1.png");
  }
  10% {
    background-image: url("./images/room1.png");
  }
  25% {
    background-image: url("./images/room2.png");
  }
  35% {
    background-image: url("./images/room2.png");
  }
  50% {
    background-image: url("./images/room3.png");
  }
  60% {
    background-image: url("./images/room3.png");
  }
  75% {
    background-image: url("./images/room4.png");
  }
  90% {
    background-image: url("./images/room4.png");
  }
  100% {
    background-image: url("./images/room1.png");
  }
}

@keyframes slider1 {
  0% {
    opacity: 0;
    content: "We are trend setters";
  }
  1% {
    content: "We are trend setters";
    opacity: 1;
  }
  11% {
    opacity: 1;
  }
  18% {
    content: "We are trend setters";
    opacity: 0;
  }
  19% {
    opacity: 0;
    content: "Premium Quality";
  }
  25% {
    opacity: 1;
    content: "Premium Quality";
  }
  36% {
    opacity: 1;
  }
  43% {
    opacity: 0;
    content: "Premium Quality";
  }
  44% {
    opacity: 0;
    content: "Customer Satisfaction";
  }
  50% {
    content: "Customer Satisfaction";
    opacity: 1;
  }
  61% {
    opacity: 1;
  }
  68% {
    opacity: 0;
    content: "Customer Satisfaction";
  }
  69% {
    opacity: 0;
    content: "Panoramic Catalogue";
  }
  75% {
    content: "Panoramic Catalogue";
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    content: "Panoramic Catalogue";
  }
  100% {
    opacity: 0;
    content: "We are trend setters";
  }
}

@keyframes slider2 {
  0% {
    opacity: 0;
    content: "Stunning designs that will give you a taste of the future.";
  }
  1% {
    content: "Stunning designs that will give you a taste of the future.";
    opacity: 1;
  }
  11% {
    opacity: 1;
  }
  18% {
    content: "Stunning designs that will give you a taste of the future.";
    opacity: 0;
  }
  19% {
    opacity: 0;
    content: "Unparalleled product quality made with the finest raw material available in the market.";
  }
  25% {
    content: "Unparalleled product quality made with the finest raw material available in the market.";
    opacity: 1;
  }
  36% {
    opacity: 1;
  }
  43% {
    opacity: 0;
    content: "Unparalleled product quality made with the finest raw material available in the market.";
  }
  44% {
    opacity: 0;
    content: "Building trust and understanding with our clients, with our premier customer service.";
  }
  50% {
    content: "Building trust and understanding with our clients, with our premier customer service.";
    opacity: 1;
  }
  61% {
    opacity: 1;
  }
  68% {
    opacity: 0;
    content: "Building trust and understanding with our clients, with our premier customer service.";
  }
  69% {
    opacity: 0;
    content: "An extensive gamut of designs and textures to choose from.";
  }
  75% {
    content: "An extensive gamut of designs and textures to choose from.";
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    content: "An extensive gamut of designs and textures to choose from.";
  }
  100% {
    opacity: 0;
    content: "Stunning designs that will give you a taste of the future.";
  }
}
